* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
a:visited,
a:link {
    color: #676767;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    font-family: Raleway;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 20px;
    background-color: white;
}

.content {
    flex: 1 1 auto;
    margin: 44px 0px;
}

.header {
    padding: 30px 0px 0px 0px;
}

.header__menu {
    margin: 0px 0px 70px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
}

.menu__item  a {
    color: #ddd;
}

.menu__link:hover {
    color: #4895f7;
}


.header__container {
    display: flex;
    justify-content: space-between;
}

.title__name {
    color: #000000;
    font-size: 24px;
    font-weight: 300;
}

.title__name h1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 4px;
}

.title__name-text-small {
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 0 0 0;
}

.header__photo img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.section__contacts {
    display: flex;
    margin: 0px 0px 25px;
}

.main__contacts{
    flex: 0 0 250px;
}

.link-icon {
    flex: 0 0 auto;
    width: 20px;
    margin-right: 10px;
}

.contacts__link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.contacts__link:hover a {
    color: #4895f7;
}

.contacts__link:hover p {
    color: #4895f7;
}

img {
    display: block;
    width: 100%;
}

.text {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #676767;
}

.main__about {
    flex: 1 1 auto;
}

.main__title {
    padding: 0px 0px 25px 0px;
}

.main__title h2 {
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.main__list {
    padding: 10px 0px 0px 20px;
}

.main__list li {
    list-style: disc;
    padding-bottom: 5px;
}

.main__list li::marker {
    color: #4895f7;
}

.section__skills__education {
    display: flex;
    margin: 0px 0px 25px;
}

.main__skills {
    flex: 0 0 250px;
}

.skill__list {
    padding: 0px 0px 10px 0px;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: default;
    text-transform: uppercase;
}

.skill-icon {
    flex: 0 0 auto;
    width: 30px;
    margin-right: 10px;
}

.skill p:hover {
    color: #4895f7;
    font-size: 17px;
    transition: 1s;
}

.main__education {
    flex: 1 1 auto;
}

.main__text {
    padding: 0px 0px 25px 0px;
}

.main__subtitle a:hover {
    color: #4895f7;
}

.section__languages{
    margin: 0px 0px 25px;
}

.section__experience {
    display: flex;
    margin: 0px 0px 25px;
    align-items: flex-end; 
}

.main__experience {
    flex: 1 1 auto;
}

.text__experience {
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #676767;
    padding: 10px 0px 0px 0px;
}

.text__experience a:hover{
    color: #4895f7;
}

.section__code-example {
    margin: 0px 0px 25px;
}

.main__code {
    background: #1a1b26;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: row-reverse;
}

.code__js {
    color: #4895f7;
    line-height: 1.4;
    flex: 0 0 945px;
}

.color__purple {
    color: #8c7ccd;
}

.color__green {
    color: #67c06a;
}

.color__orang {
    color: #ff9e64;
}

.color__blue {
    color: #89ddff;
}

.color__violet {
    color: #c4c9ed;
}

.main__content {
    margin: 0 0 55px 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__link {
    width: 50px;
}

.footer__date {
    cursor: default;
    flex: 0 0 130px;
}

.footer__date p:hover {
    color: #4895f7;
    font-size: 18px;
    transition: 1s;
}

.footer__logo {
    width: 100px;
}
